<h1>Detalle de alquiler de libro:</h1>

<p>Detalles del libro:
  <p>Genero: <%= @rent.book.genre %></p>
  <p>Autor: <%= @rent.book.author %></p>
  <p>Titulo: <%= @rent.book.title %></p>
  <p>Publicado por: <%= @rent.book.publisher %></p>
  <p>Año de publicacion: <%= @rent.book.year %></p>
 </p>
<p>Fecha inicio del alquiler: <%= @rent.from.strftime("%-d/%-m/%Y") %></p>
<p>Fecha fin del alquiler: <%= @rent.to.strftime("%-d/%-m/%Y") %></p>
<p>Fecha actual de creación del Rent: <%= @rent.created_at.strftime("%-d/%-m/%Y %H:%M") %></p>
